body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #ffffff;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #1f1f1f;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.profile {
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile h1 {
    font-size: 24px;
    margin: 10px 0;
}

#social ul {
    list-style: none;
    padding: 0;
}

#social ul li {
    margin: 10px 0;
}

#social ul li a {
    color: #1e90ff;
    text-decoration: none;
    font-size: 18px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.content {
    flex: 1;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.project-grid, .certificate-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.project, .certificate {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.project img, .certificate img {
    width: 100%;
    height: min-content;
    border-radius: 10px;
}

.project h3, .certificate h3 {
    margin: 10px 0;
    font-size: 20px;
}

.project p, .certificate p {
    font-size: 16px;
}

.project-links a {
    color: #1e90ff;
    text-decoration: none;
    margin-right: 10px;
}

.project-links a:hover {
    text-decoration: underline;
}

